<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">
                <span class="title pad-left-right">Contacts</span>
                <div class="input-group pad-left-right">
                    <input type="text" class="form-control" #searchBox (keyup)="search(searchBox.value)"
                        placeholder="Enter a search value">
                    <div class="input-group-addon glyphicon glyphicon-search" (click)="search(searchBox.value)"></div>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-success" [routerLink]="['new']" style="margin-top: 20px;">New Contact</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row contact-list-container">
            <div class="col-xs-12">
                <app-contact-item *ngFor="let contact of contacts | contactsFilter:term" [contact]="contact">
                </app-contact-item>
            </div>
        </div>
    </div>
</div>